Webpack (imports/exports)
  Babel
  Scss
  Eslint
  2 Modules
    - Dev
      Dev Server, SourceMaps, Eslint, Not Minified JS & CSS
    - Prod
      Minified Code
Git

   Prodaction
     2.0.0
     0 -------
   Development
     2.0.2
     1 -----------
